.about-wrapper {
  @include media(desktop) {
  }
}

.about-section {
  padding-top: 80px;
  padding-bottom: 90px;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-text-wrapper {
  margin-bottom: 40px;

  @include media(desktop) {
    display: flex;
    align-items: end;
    gap: 60px;
    margin-bottom: 60px;
  }
}

.about-top-text-wrapper {
  @include media(desktop) {
    width: 100%;
    max-width: 595px;
  }
}

.about-subtitle {
  @include media(desktop) {
    margin-bottom: 0;
  }
}

.about-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e5e7eb;

  @include media(desktop) {
    width: 100%;
    max-width: 593px;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
