.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 340px;
  padding-bottom: 82px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 280px;
    padding-bottom: 218px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 1.30769;
  text-align: center;
  color: #e9dbc5;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 62px;
    line-height: 1.25806;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #aeaeae;
  margin-bottom: 40px;

  @include media(desktop) {
    max-width: 878px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-link {
  background: linear-gradient(42deg, #f8392f 0%, #fe7818 100%);
  border-radius: 8px;
  padding: 12px 28px;
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &:active,
  &:focus {
    box-shadow: 0 0 24px 0 rgba(255, 104, 0, 0.6);
  }

  @include media(desktop) {
    max-width: max-content;

    &:hover {
      box-shadow: 0 0 24px 0 rgba(255, 104, 0, 0.6);
    }
  }
}
