<section class="section about-section" id="about">
  <div class="container about-container">
    <div class="about-text-wrapper">
      <div class="about-top-text-wrapper">
        <div class="title-wrapper">
          <svg class="line-icon" width="83" height="6">
            <use href="./img/sprite.svg#icon-line"></use>
          </svg>
          <h2 class="section-title about-title">About</h2>
        </div>
        <p class="section-subtitle about-subtitle">
          Professional IT training, real-world impact.
        </p>
      </div>
      <p class="about-text">
        Easy Core IT combines expert-led courses, hands-on simulations, and
        enterprise-grade research to prepare IT professionals for modern
        challenges in infrastructure, cybersecurity, and cloud management.
      </p>
    </div>
    <picture>
      <source
        srcset="./img/about/about-img-desk.png"
        media="(min-width: 1440px)"
        width="1248"
        height="350" />
      <source srcset="./img/about/about-img-mob.png" width="343" height="350" />
      <img
        class="about-img"
        src="./img/about/about-img-mob.png"
        alt="People working"
        width="343"
        height="350"
        loading="lazy"
    /></picture>
  </div>
</section>
