<section class="section advantages-section" id="advantages">
  <div class="container advantages-container">
    <div class="advantages-content-wrapper">
      <div class="advantages-text-wrapper">
        <div class="title-wrapper">
          <svg class="line-icon" width="83" height="6">
            <use href="./img/sprite.svg#icon-line"></use>
          </svg>
          <h2 class="section-title advantages-title">Why Us</h2>
        </div>
        <p class="section-subtitle advantages-subtitle">
          Why choose Easy Core IT?
        </p>
        <p class="advantages-text">
          At Easy Core IT, we don’t just teach theory — we prepare professionals
          to solve real-world challenges in infrastructure, cybersecurity, and
          cloud. Our programs combine expert guidance with hands-on labs to
          ensure every learner can apply knowledge directly in the workplace.
        </p>
        <ul class="advantages-list">
          <li class="advantages-list-item">
            <img
              class="advantages-number-img"
              src="./img/advantages/advantages-img1-mob.png"
              alt="Number"
              width="115"
              height="54"
              loading="lazy"
            />
            <p class="advantages-item-text">
              years of combined instructor experience
            </p>
          </li>
          <li class="advantages-list-item">
            <img
              class="advantages-number-img"
              src="./img/advantages/advantages-img2-mob.png"
              alt="Number"
              width="137"
              height="54"
              loading="lazy"
            />
            <p class="advantages-item-text">student satisfaction rate</p>
          </li>
          <li class="advantages-list-item">
            <img
              class="advantages-number-img"
              src="./img/advantages/advantages-img3-mob.png"
              alt="Number"
              width="123"
              height="54"
              loading="lazy"
            />
            <p class="advantages-item-text">professionals trained worldwide</p>
          </li>
          <li class="advantages-list-item">
            <img
              class="advantages-number-img"
              src="./img/advantages/advantages-img4-mob.png"
              alt="Number"
              width="128"
              height="54"
              loading="lazy"
            />
            <p class="advantages-item-text">
              enterprise partners using our training solutions
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/advantages/advantages-bg-desk.png"
          media="(min-width: 1440px)"
          width="1248"
          height="350" />
        <source
          srcset="./img/advantages/advantages-bg-mob.png"
          width="343"
          height="350" />
        <img
          class="advantages-img"
          src="./img/advantages/advantages-bg-mob.png"
          alt="People working"
          width="343"
          height="350"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
