<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <div class="contact-content-wrapper">
      <div class="contact-text-wrapper">
        <div class="title-wrapper">
          <svg class="line-icon" width="83" height="6">
            <use href="./img/sprite.svg#icon-line"></use>
          </svg>
          <h2 class="section-title about-title">Contact</h2>
        </div>
        <p class="section-subtitle contact-subtitle">
          Let’s connect your core.
        </p>
      </div>
      <div class="contact-location-wrapper">
        <svg class="location-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-address"></use>
        </svg>
        <p class="contact-location-text">
          Easy Core IT LLC, Leopoldstraße 48, Munich, Germany
        </p>
      </div>
      <ul class="contact-list">
        <li class="contact-list-item">
          <svg class="contact-icon" width="46" height="46">
            <use href="./img/sprite.svg#icon-student"></use>
          </svg>
          <p class="contact-item-text">For Students</p>
          <a href="mailto:students@easycoreit.space" class="contact-item-link"
            >students@easycoreit.space
          </a>
        </li>
        <li class="contact-list-item">
          <svg class="contact-icon" width="46" height="46">
            <use href="./img/sprite.svg#icon-training"></use>
          </svg>
          <p class="contact-item-text">For Corporate Partners</p>
          <a href="mailto:partners@easycoreit.space" class="contact-item-link"
            >partners@easycoreit.space
          </a>
        </li>
        <li class="contact-list-item">
          <svg class="contact-icon" width="46" height="46">
            <use href="./img/sprite.svg#icon-mail"></use>
          </svg>
          <p class="contact-item-text">General Inquiries</p>
          <a href="mailto:info@easycoreit.space" class="contact-item-link"
            >info@easycoreit.space
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
