<section class="section mentors-section" id="mentors">
  <div class="container mentors-container">
    <div class="mentors-content-wrapper">
      <div class="title-wrapper">
        <svg class="line-icon" width="83" height="6">
          <use href="./img/sprite.svg#icon-line"></use>
        </svg>
        <h2 class="section-title about-title">Mentors</h2>
      </div>
      <p class="section-subtitle mentors-subtitle">Learn from experts</p>
      <ul class="mentors-list">
        <li class="mentors-list-item">
          <picture>
            <source
              srcset="./img/mentors/mentors-img1-desk.png"
              media="(min-width: 1440px)"
              width="375"
              height="440" />
            <source
              srcset="./img/mentors/mentors-img1-mob.png"
              width="311"
              height="440" />
            <img
              class="mentors-img"
              src="./img/mentors/mentors-img1-mob.png"
              alt="Mentor"
              width="311"
              height="440"
              loading="lazy"
          /></picture>
        </li>
        <li class="mentors-list-item">
          <picture>
            <source
              srcset="./img/mentors/mentors-img2-desk.png"
              media="(min-width: 1440px)"
              width="375"
              height="440" />
            <source
              srcset="./img/mentors/mentors-img2-mob.png"
              width="311"
              height="440" />
            <img
              class="mentors-img"
              src="./img/mentors/mentors-img2-mob.png"
              alt="Mentor"
              width="311"
              height="440"
              loading="lazy"
          /></picture>
        </li>
        <li class="mentors-list-item">
          <picture>
            <source
              srcset="./img/mentors/mentors-img3-desk.png"
              media="(min-width: 1440px)"
              width="375"
              height="440" />
            <source
              srcset="./img/mentors/mentors-img3-mob.png"
              width="311"
              height="440" />
            <img
              class="mentors-img"
              src="./img/mentors/mentors-img3-mob.png"
              alt="Mentor"
              width="311"
              height="440"
              loading="lazy"
          /></picture>
        </li>
      </ul>
    </div>
  </div>
</section>
